[submodule "vendors/zsh-completions"]
	path = vendors/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vendors/oh-my-zsh"]
	path = vendors/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendors/powerlevel9k"]
	path = vendors/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "vendors/zsh-autosuggestions"]
	path = vendors/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vendors/zsh-syntax-highlighting"]
	path = vendors/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
