[user]
	name = Hervé Nivon
	email = herve.nivon@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pager]
	branch = false
